.container{
    background-color: rgb(235, 235, 235);
    margin: 100px;
    padding: 20px;
}
input{
    width: 50px;
    text-align: center;
    font-weight: bold;
    background-color:  rgb(235, 235, 235);
}
#confirm{
    display: none;
}
.confirm{
    display: block;
}
@media (max-width: 768px) {
    .img img {
      display: block;
      margin: auto;
      width: 100px;
    }
    .img h4{
        font-size: 16px;
    }
  }
  @media (max-width:991px){
      .img img{
          width: 120px;

      }
      .img h4{
          font-size: 18px;
      }
  }